* {
    margin: 0;
    padding: 0;
}

.bill-item-container {
    background: rgba(255, 255, 255, 0.20);
    /* background-color: rgb(98, 17, 161, 0.73); */
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    /* width: 100%; */
    height: 15vh;
    padding: 10px 10px;
    margin-bottom: 5%;
    
    display: flex;
    justify-content: space-between;

    color: white;

    transition: background-color 0.3s ease;
    font-size: 30px;
}

.bill-item-container:hover {
    /* background-color: rgb(98, 17, 161, 0.80); */
    background-color: blueviolet;
    /* box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25); */
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.left-part h2{
    /* font-size: 1em; Taille de police initiale */
    width: 93%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.left-part h3{
    /* font-size: 1em; Taille de police initiale */
    width: 93%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-part h3 {
    font-weight: bold;
}

.description {
    width: 60%;
    font-size: 30px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}