<div *ngIf="currentPage !== 0">
  <header>
    <app-nav-bar (resetPageEvent)="resetPage()" (onCurrentPageChange)="changeCurrentPage($event)" (openNotificationEvent)="toggleNotificationPanel()"></app-nav-bar>
  
    <app-notification-panel (closePanelEvent)="toggleNotificationPanel()" [style.width.vw]="notificationWidth"></app-notification-panel>
  </header>
  <div class="main">
    <app-home-page [currentBill]="currentBill" class="page" *ngIf="currentPage == 1" ></app-home-page>
    <app-create-bill class="page" *ngIf="currentPage == 2" ></app-create-bill>
    <app-add-contact class="page" *ngIf="currentPage == 3" ></app-add-contact>
    <app-profile class="page" *ngIf="currentPage == 4" ></app-profile>
  </div>
</div>

<app-register-login (connectEvent)="goToHomePage()" *ngIf="currentPage === 0"></app-register-login>