<div class="bill-container">
    <div class="head">
        <h1>Nom de l'ardoise</h1>
        <div class="bill-settings">
            <div class="panel">
                <button>
                    <span>New expense</span>
                </button>
                <button>
                    <span>See balance</span>
                </button>
            </div>
            <!-- <button id="settings"></button> -->
        </div>
    </div>
    <div class="meteo-list">
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
        <app-meteo></app-meteo>
    </div>
    <div class="expense-grid">
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
        <app-expense-item></app-expense-item>
    </div>
</div>
